<div class="grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <app-menu-bookmark></app-menu-bookmark>
                        <h4>
                            <strong>Liste des workflows</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        ></app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <app-data-table
                    [columns]="columns"
                    [value]="datas"
                    [export]="false"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                    [rows]="appConfig.rows"
                    [rowsPerPageOptions]="appConfig.rowsPerPageOptions"
                    (onButtonClickEvent)="onButtonClickEvent($event)"
                    (onSortChanged)="onSortChanged($event)"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit pr-2"></i>
                            <strong
                                >Détails workflow
                                {{ selectedData.name }}</strong
                            >
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [types]="'e,d,c'"
                            [isEditDisabled]="isEdit"
                            [isDeleteDisabled]="!canDeleteCopy"
                            [isCopyDisabled]="!canDeleteCopy"
                            [showResiz]="showResiz"
                            (editClick)="onEditClick()"
                            (deleteClick)="onDeleteClick()"
                            (copyClick)="onCopyClick()"
                            (closeClick)="onFormCloseClick()"
                            (maximizeClick)="onFormMaximizeClick()"
                        >
                        </app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <form [formGroup]="formGroup">
                    <p-tabView>
                        <p-tabPanel header="Workflow">
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'name'"
                                [label]="'Nom'"
                                [value]="f.name"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-select-form
                                [formGroup]="formGroup"
                                [name]="'document'"
                                [label]="'Document'"
                                [placeholder]="'Sélectionner un document'"
                                [values]="documents"
                                [value]="f.document"
                                [displayField]="'code'"
                                [dataKey]="''"
                                [returnValue]="''"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-select-form>
                            <app-select-form
                                [formGroup]="formGroup"
                                [name]="'initialStatus'"
                                [label]="'Statut initial'"
                                [placeholder]="'Sélectionner un statut initial'"
                                [values]="selectedData.workflowStatuses"
                                [value]="f.initialStatus"
                                [displayField]="'label'"
                                [dataKey]="''"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="
                                    !isEdit ||
                                    selectedData.workflowStatuses.length < 2
                                "
                            >
                            </app-select-form>
                            <app-select-form
                                [formGroup]="formGroup"
                                [name]="'finalStatus'"
                                [label]="'Statut final'"
                                [placeholder]="'Sélectionner un statut final'"
                                [values]="selectedData.workflowStatuses"
                                [value]="f.finalStatus"
                                [displayField]="'label'"
                                [dataKey]="''"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="
                                    !isEdit ||
                                    selectedData.workflowStatuses.length < 2
                                "
                            >
                            </app-select-form>
                            <app-switch-form
                                [formGroup]="formGroup"
                                [name]="'status'"
                                [label]="'Activé'"
                                [value]="f.status"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-switch-form>
                        </p-tabPanel>
                        <p-tabPanel header="Statuts">
                            <p-toolbar>
                                <div class="p-toolbar-group-left">
                                    <h4>
                                        <i class="fa fa-align-justify pr-2"></i>
                                        <strong>Liste des statuts</strong>
                                    </h4>
                                </div>
                                <div class="p-toolbar-group-right">
                                    <app-menu-crud
                                        [types]="'a,e,d'"
                                        [isAddDisabled]="!isEdit"
                                        [isEditDisabled]="!canDeleteCopyChild"
                                        [isDeleteDisabled]="!canDeleteCopyChild"
                                        (addClick)="onAddChildClick($event)"
                                        (editClick)="onEditChildClick($event)"
                                        (deleteClick)="
                                            onDeleteChildClick($event)
                                        "
                                    >
                                    </app-menu-crud>
                                </div>
                            </p-toolbar>
                            <app-data-table
                                [columns]="columnsChild"
                                [value]="selectedData.workflowStatuses"
                                [isDisabled]="!isEdit"
                                [selectedData]="selectedChildData"
                                [export]="false"
                                (onSelectRow)="onSelectChildRow($event)"
                                (onDblclickRow)="onDblclickChildRow($event)"
                                (onSortChanged)="onSortChanged($event)"
                            ></app-data-table>
                        </p-tabPanel>
                        <p-tabPanel header="Transitions">
                            <p-toolbar>
                                <div class="p-toolbar-group-left">
                                    <h4>
                                        <i class="fa fa-align-justify pr-2"></i>
                                        <strong>Liste des transitions</strong>
                                    </h4>
                                </div>
                                <div class="p-toolbar-group-right">
                                    <app-menu-crud
                                        [types]="'a,e,d'"
                                        [isAddDisabled]="!isEdit"
                                        [isEditDisabled]="!canDeleteCopyChild"
                                        [isDeleteDisabled]="!canDeleteCopyChild"
                                        (addClick)="
                                            onAddTransitionClick($event)
                                        "
                                        (editClick)="
                                            onEditTransitionClick($event)
                                        "
                                        (deleteClick)="
                                            onDeleteTransitionClick($event)
                                        "
                                    >
                                    </app-menu-crud>
                                </div>
                            </p-toolbar>
                            <app-data-table
                                [columns]="columnsTransitions"
                                [value]="selectedData.transitions"
                                [export]="false"
                                [selectedData]="selectedChildData"
                                (onSelectRow)="onSelectChildRow($event)"
                                (onDblclickRow)="onDblclickChildRow($event)"
                                [isDisabled]="!isEdit"
                                (onSortChanged)="onSortChanged($event)"
                            ></app-data-table>
                        </p-tabPanel>
                    </p-tabView>
                </form>
            </div>
        </p-card>
    </div>
</div>
