<div class="grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <app-menu-bookmark></app-menu-bookmark>
                        <h4>
                            <strong>Liste des produits</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            [displayExport]="true"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        ></app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body fluid">
                <app-data-table
                    [stateKey]="'father-master-detail'"
                    [export]="true"
                    [columns]="columns"
                    [value]="datas"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                    [rows]="appConfig.rows"
                    [rowsPerPageOptions]="appConfig.rowsPerPageOptions"
                    (onSortChanged)="onSortChanged($event)"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit pr-2"></i>
                            <strong>Détails Produit</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [types]="typesMenuCrud"
                            [isEditDisabled]="isEdit"
                            [isDeleteDisabled]="!canDeleteCopy"
                            [isCopyDisabled]="!canDeleteCopy"
                            (editClick)="onEditClick()"
                            (deleteClick)="onDeleteClick()"
                            (copyClick)="onCopyClick()"
                            (closeClick)="onFormCloseClick()"
                            (maximizeClick)="onFormMaximizeClick()"
                        >
                        </app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <form [formGroup]="formGroup">
                    <p-tabView>
                        <p-tabPanel header="Father">
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'code'"
                                [label]="'Code'"
                                [value]="f.code"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [help]="'help'"
                                [col]="'2,10'"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'string1'"
                                [label]="'string1'"
                                [value]="f.string1"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [iconLeft]="'fa fa-user'"
                                [iconRight]="'fa fa-user'"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'string2'"
                                [label]="'string2'"
                                [value]="f.string2"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [appendLeft]="'$'"
                                [appendRight]="'.000'"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'string3'"
                                [value]="f.string3"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [placeholder]="'string3'"
                            >
                            </app-input-form>
                            <app-input-textarea-form
                                [formGroup]="formGroup"
                                [name]="'string6'"
                                [label]="'string6'"
                                [value]="f.string6"
                                [rows]="4"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-textarea-form>
                            <app-number-form
                                [formGroup]="formGroup"
                                [name]="'number1'"
                                [label]="'number1'"
                                [value]="f.number1"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-number-form>
                            <app-number-form
                                [formGroup]="formGroup"
                                [name]="'number2'"
                                [label]="'number2'"
                                [value]="f.number2"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [mode]="'currency'"
                                [currency]="'TND'"
                                [locale]="fr - FR"
                            >
                            </app-number-form>
                            <app-number-form
                                [formGroup]="formGroup"
                                [name]="'number3'"
                                [label]="'number3'"
                                [value]="f.number3"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [max]="10"
                                [min]="5"
                            >
                            </app-number-form>
                            <app-number-form
                                [formGroup]="formGroup"
                                [name]="'number4'"
                                [label]="'number4'"
                                [value]="f.number4"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [maxDigits]="3"
                                [minDigits]="3"
                            >
                            </app-number-form>
                            <app-switch-form
                                [formGroup]="formGroup"
                                [name]="'boolean1'"
                                [label]="'boolean1'"
                                [value]="f.boolean1"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            ></app-switch-form>
                            <app-date-form
                                [formGroup]="formGroup"
                                [name]="'date1'"
                                [label]="'date1'"
                                [value]="f.date1"
                                [dateFormat]="'dd/mm/yy'"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-date-form>
                            <app-color-form
                                [formGroup]="formGroup"
                                [name]="'string7'"
                                [label]="'Color'"
                                [value]="f.string7"
                                [colors]="colors"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-color-form>
                        </p-tabPanel>
                        <p-tabPanel header="Relation">
                            <app-status-select
                                [formGroup]="formGroup"
                                [typeCode]="'Father'"
                                [codeStatus]="'priority'"
                                [label]="'Priroty'"
                                [name]="'priority'"
                                [value]="f.priority"
                                [displayField]="'label'"
                                [placeholder]="'Indéfini'"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-status-select>
                            <app-status-select
                                [formGroup]="formGroup"
                                [typeCode]="'Father'"
                                [codeStatus]="'statusFather'"
                                [label]="'statusFather'"
                                [name]="'statusFather'"
                                [value]="f.statusFather"
                                [displayField]="'label'"
                                [placeholder]="'Indéfini'"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-status-select>
                            <app-select-form
                                [formGroup]="formGroup"
                                [name]="'string4'"
                                [label]="'string4'"
                                [placeholder]="'Indéfini'"
                                [value]="f.string4"
                                [values]="father_type_list"
                                [displayField]="'label'"
                                [returnValue]="'code'"
                                [dataKey]="''"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                (onChange)="onChange($event)"
                            >
                            </app-select-form>
                            <app-multiselect-form
                                [formGroup]="formGroup"
                                [name]="'string5'"
                                [label]="'string5'"
                                [placeholder]="'Indéfini'"
                                [value]="f.string5"
                                [values]="father_type_list"
                                [dataKey]="''"
                                [displayField]="'label'"
                                [returnValue]="'code'"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                (onChange)="onChange($event)"
                            >
                            </app-multiselect-form>
                            <app-popup-criteria
                                [formGroup]="formGroup"
                                [name]="'dictionaryType1'"
                                [label]="'dictionaryType1'"
                                [value]="f.dictionaryType1"
                                [displayValue]="'codeLabel'"
                                [criteriasFields]="criteriasSearchPopup1"
                                [displayedColumns]="columnsSearchPopup1"
                                [service]="dictionaryTypeService"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-popup-criteria>
                            <app-popup-criteria
                                [formGroup]="formGroup"
                                [name]="'dictionaryType2'"
                                [label]="'dictionaryType2'"
                                [value]="f.dictionaryType2"
                                [displayValue]="'codeLabel'"
                                [criteriasFields]="criteriasSearchPopup1"
                                [displayedColumns]="columnsSearchPopup1"
                                [service]="dictionaryTypeService"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-popup-criteria>
                            <app-popup-criteria
                                [formGroup]="formGroup"
                                [name]="'setting'"
                                [label]="'setting'"
                                [value]="f.setting"
                                [displayValue]="'createdDate'"
                                [displayDate]="true"
                                [criteriasFields]="criteriasSearchPopup2"
                                [displayedColumns]="columnsSearchPopup2"
                                [service]="settingService"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-popup-criteria>
                            <app-popup-criteria
                                [formGroup]="formGroup"
                                [name]="'number5'"
                                [label]="'number5'"
                                [value]="f.number5"
                                [displayValue]="'displayOrder'"
                                [returnValue]="'displayOrder'"
                                [criteriasFields]="criteriasSearchPopup2"
                                [displayedColumns]="columnsSearchPopup2"
                                [service]="settingService"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-popup-criteria>
                            <app-dictionary-select
                                [formGroup]="formGroup"
                                [typeCode]="'RDD'"
                                [codeDefaultDictionaryValue]="'RDD_DICTIONARY'"
                                [label]="'specialities'"
                                [name]="'specialitie'"
                                [value]="f.specialitie"
                                [displayField]="'label'"
                                [placeholder]="'Indéfini'"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-dictionary-select>
                            <app-dictionary-multiselect
                                [formGroup]="formGroup"
                                [typeCode]="'RDD'"
                                [label]="'specialities'"
                                [name]="'specialities'"
                                [value]="f.specialities"
                                [displayField]="'label'"
                                [placeholder]="'Indéfini'"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-dictionary-multiselect>
                        </p-tabPanel>
                        <p-tabPanel
                            header="df.complementary_fields"
                            *ngIf="currentDynamicForm"
                        >
                            <app-dynamic-form
                                *ngIf="currentDynamicForm"
                                [formGroup]="formGroup"
                                [name]="'dynamicFormInputs1'"
                                [isDisabled]="!isEdit"
                                [isSubmitted]="isSubmitted"
                                [idForm]="currentDynamicForm.id"
                                [document]="currentDynamicForm.document"
                                [idEntity]="selectedData.id"
                            >
                            </app-dynamic-form>
                        </p-tabPanel>
                        <p-tabPanel header="df.dynamic_type">
                            <div class="grid">
                                <div class="col-6">
                                    <app-select-form
                                        [formGroup]="formGroup"
                                        [name]="'dynamicType'"
                                        [label]="'dynamic type'"
                                        [placeholder]="'Indéfini'"
                                        [value]="f.dynamicType"
                                        [values]="dynamicTypes"
                                        [displayField]="'name'"
                                        [returnValue]="'code'"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                        (onChange)="onChangeDynamicType($event)"
                                    >
                                    </app-select-form>
                                </div>
                            </div>
                            <app-dynamic-form
                                *ngIf="currentDynamicType"
                                [formGroup]="formGroup"
                                [name]="'dynamicFormInputs2'"
                                [isDisabled]="!isEdit"
                                [isSubmitted]="isSubmitted"
                                [idForm]="currentDynamicType.id"
                                [document]="currentDynamicType.document"
                                [idEntity]="selectedData.id"
                            >
                            </app-dynamic-form>
                        </p-tabPanel>
                        <p-tabPanel header="Childs">
                            <p-toolbar>
                                <div class="p-toolbar-group-left">
                                    <h4>
                                        <i class="fa fa-align-justify pr-2"></i>
                                        <strong>Liste des childs</strong>
                                    </h4>
                                </div>
                                <div class="p-toolbar-group-right">
                                    <app-menu-crud
                                        [types]="'a,e,d'"
                                        [isAddDisabled]="!isEdit"
                                        [isEditDisabled]="!canDeleteCopyChild"
                                        [isDeleteDisabled]="!canDeleteCopyChild"
                                        (addClick)="onAddChildClick($event)"
                                        (editClick)="onEditChildClick($event)"
                                        (deleteClick)="
                                            onDeleteChildClick($event)
                                        "
                                    >
                                    </app-menu-crud>
                                </div>
                            </p-toolbar>
                            <div class="main-child-body">
                                <app-data-table
                                    [stateKey]="'father-master-detail-childs'"
                                    [columns]="columnsChild"
                                    [value]="selectedData.childs"
                                    [isDisabled]="!isEdit"
                                    [selectedData]="selectedChildData"
                                    [export]="false"
                                    (onSelectRow)="onSelectChildRow($event)"
                                    (onDblclickRow)="onDblclickChildRow($event)"
                                    (onButtonClickEvent)="
                                        onButtonClickEvent($event)
                                    "
                                    (onSortChanged)="onSortChanged($event)"
                                ></app-data-table>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Workflow" *ngIf="selectedData.id">
                            <app-workflow-status
                                [classObject]="'Father'"
                                [currentObject]="selectedData"
                                [isSubmitted]="isSubmitted"
                                [isEdit]="isEdit"
                                (onWorkflowChanged)="onWorkflowChanged($event)"
                            >
                            </app-workflow-status>
                        </p-tabPanel>
                        <p-tabPanel
                            header="Historique Workflow"
                            *ngIf="selectedData.id"
                        >
                            <app-workflow-history [data]="selectedData">
                            </app-workflow-history>
                        </p-tabPanel>
                        <p-tabPanel header="Upload file">
                            <app-upload-document
                                [idFile]="selectedData?.image?.id"
                                [accept]="'image/*'"
                                [isDisabled]="!isEdit"
                                (selectDocument)="selectDocument($event)"
                            ></app-upload-document>
                        </p-tabPanel>
                        <p-tabPanel header="Upload multi files">
                            <app-management-document
                                [documents]="selectedData?.documents"
                                [allowedType]="'application/pdf,.doc,.docx'"
                                [allowedSize]="10000000000000"
                                [maxFiles]="3"
                                [isEdit]="isEdit"
                                (selectDocuments)="selectDocuments($event)"
                            >
                            </app-management-document>
                        </p-tabPanel>
                        <p-tabPanel header="report.generate">
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-book"
                                (click)="report()"
                                class="p-button-danger"
                            ></button>
                        </p-tabPanel>
                    </p-tabView>
                </form>
            </div>
        </p-card>
    </div>
</div>
