<div class="form-popup">
    <form [formGroup]="formGroup">
        <div class="form p-fluid">
            <div
                class="field grid m-1"
                *ngFor="let criteria of getCriterias(); let i = index"
                formArrayName="criterias"
            >
                <label class="sm:col-3 md:col-3 lg:col-3 col-6">{{
                    criteria.value.header | translate
                }}</label>
                <div
                    class="sm:col-4 md:col-4 lg:col-4 col-6"
                    [formGroupName]="i"
                >
                    <p-dropdown
                        formControlName="operation"
                        [options]="getOperations(criteria.value)"
                        optionLabel="name"
                        optionValue="code"
                        [appendTo]="'body'"
                        [filter]="false"
                    >
                    </p-dropdown>
                </div>
                <div
                    class="sm:col-5 md:col-5 lg:col-5 col-12"
                    [formGroupName]="i"
                >
                    <app-input-form
                        *ngIf="criterias[i].type === 0"
                        [formGroup]="getCriteriaFormAt(i)"
                        [name]="'value'"
                        [value]="getCriteriaFormAt(i).value"
                        [isDisabled]="false"
                    >
                    </app-input-form>
                    <app-number-form
                        *ngIf="criterias[i].type === 1"
                        [formGroup]="getCriteriaFormAt(i)"
                        [name]="'value'"
                        [value]="getCriteriaFormAt(i).value"
                        [isDisabled]="false"
                    >
                    </app-number-form>
                    <app-dictionary-select
                        *ngIf="criterias[i].type === 2"
                        [typeCode]="criterias[i].typeCode"
                        [formGroup]="getCriteriaFormAt(i)"
                        [name]="'value'"
                        [displayLabel]="false"
                        [placeholder]="'Indéfini'"
                        [value]="getCriteriaFormAt(i)"
                        [returnValue]="'label'"
                        [displayField]="criterias[i].displayField"
                        [isDisabled]="false"
                        [filter]="false"
                    >
                    </app-dictionary-select>
                    <app-date-form
                        *ngIf="criterias[i].type === 3"
                        [formGroup]="getCriteriaFormAt(i)"
                        [name]="'value'"
                        [value]="getCriteriaFormAt(i).value"
                        [dateFormat]="criterias[i].dateFormat"
                        [isDisabled]="false"
                    >
                    </app-date-form>
                    <app-select-form
                        *ngIf="criterias[i].type === 4"
                        [formGroup]="getCriteriaFormAt(i)"
                        [name]="'value'"
                        [placeholder]="'Indéfini'"
                        [values]="criterias[i].values"
                        [value]="getCriteriaFormAt(i)"
                        [displayField]="criterias[i].displayField"
                        [dataKey]="criterias[i].dataKey"
                        [returnValue]="criterias[i].returnValue"
                        [isDisabled]="false"
                        [filter]="false"
                    >
                    </app-select-form>
                    <app-multiselect-form
                        *ngIf="criterias[i].type === 5"
                        [formGroup]="getCriteriaFormAt(i)"
                        [displayField]="criterias[i].displayField"
                        [values]="criterias[i].values"
                        [name]="'value'"
                        [value]="getCriteriaFormAt(i)"
                        [returnValue]="criterias[i].returnValue"
                        [placeholder]="'Indéfini'"
                        [isDisabled]="false"
                        [filter]="false"
                    >
                    </app-multiselect-form>
                </div>
            </div>
        </div>
    </form>
    <p-toolbar>
        <div class="p-toolbar-group-left"></div>
        <div class="p-toolbar-group-right">
            <p-button
                [label]="'Annuler'"
                (click)="onCancel()"
                styleClass="p-button-text"
            ></p-button>
            <p-button
                [label]="'Vider les critères'"
                (click)="onReset()"
                styleClass="p-button-text"
            >
            </p-button>
            <p-button
                [label]="'Rechercher'"
                (click)="onSubmit()"
                styleClass="p-button-text"
            >
            </p-button>
        </div>
    </p-toolbar>
</div>
