
#===================================================================
# AccelEngine specific properties
# Add accelengine properties here,see the AEProperties class
#===================================================================
#APPLICATION
application.code=PFE
application.name=PFE
application.description=Projet de fin d'études
application.version=0.0.1
application.activateMultitenancy=true
application.activateMaintenance=false
#COMPANY
company.code=DiscoveryInformatique
company.socialReason=testCompanySocialReason
company.siren=123456789
company.currency=TND
company.phone=71717171

#SECURITY
security.authentication.secret=
security.authentication.base64Secret=YTljNWE3NzlhOTBkNDRiYjdkMjlmODI3MzJmNWRhY2JjZjQ3N2QzZmEzZjBiNTNjM2NjYjI5MDllNGM1YTRhZTYwZTMxN2M4MmVlNDgyYTQ1YjNjNTc3MjdlMWFjYTZlM2I0NDQxOGI0NTg1MDdhMTFjYmNkY2Y0MWU5YTlhYzc=
security.authentication.tokenValidityInSeconds=14400
security.authentication.tokenValidityInSecondsForRememberMe=300
security.authentication.authoritiesKey=auth
security.authentication.authorizationHeader=authorization
security.authentication.authorizationHeaderStartswith=Bearer
security.require-ssl=false
ilayisensiKey=lIX2qOxhJag743YBHoQWe0na6xqJWd9uYQU3IjeK2ZOl7VOOOi/3ySEwFTELgGIKmzXicM7VUL4GQC0BQP6B5XMpGeqLmVhMPXM7pAGmB/NXjWgNYnI8oggo5gkGqtSZxeixC7b6KV/OASMbgyh9301TwMo00Y5+i8mirymAP5BVdP7ZyFmh3HEO5UJeZFDK/uONmsxjEm32EaNdL1hbQVAGDihzjyr/ymzVPBG/b7bHASV90XwZ2B8fe5gsWj+sMg6DYFAePk+WJr5GQ9fLMrZc3i2bgJmdHFDxShjD5KeHBb3mOw8BYN3rRmL1OLX9Du4akVZJ4Lfg61SnmELHvQ==

#DATASOURCE

#ROLE
role.adminSys=ADMIN_SYS
role.adminApp=ADMIN_APP
role.allAuthority="*"

action.readName=Lire
action.createName=Créer
action.updateName=Mettre à jour
action.deleteName=Supprimer
action.allName=Toute les actions

#ENDPOINT
endpoint.auth=/authentication
endpoint.init=/init

csv.separator=;
