<p-table
    [columns]="currentWidget.sortColumns"
    [value]="currentDatas"
    styleClass="p-datatable-sm"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.name }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; let i = index">
                {{ rowData[i] }}
            </td>
        </tr>
    </ng-template>
</p-table>
