<div class="grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <app-menu-bookmark></app-menu-bookmark>
                        <h4>
                            <strong>{{"user.user_master" | translate }}</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        ></app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <app-data-table
                    [stateKey]="'user-master-detail'"
                    [columns]="columns"
                    [value]="datas"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit pr-2"></i>
                            <strong
                                >{{"user.user_details" | translate}} {{ f.code.value }}</strong
                            >
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [types]="'e,d,c'"
                            [isEditDisabled]="isEdit"
                            [isDeleteDisabled]="!canDeleteCopy"
                            [isCopyDisabled]="!canDeleteCopy"
                            (editClick)="onEditClick()"
                            (deleteClick)="onDeleteClick()"
                            (copyClick)="onCopyClick()"
                            (closeClick)="onFormCloseClick()"
                            (maximizeClick)="onFormMaximizeClick()"
                        >
                        </app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>

            <div class="main-body p-fluid">
                <form [formGroup]="formGroup">
                    <p-tabView>
                        <p-tabPanel header="{{'user.panel_user' |translate }}">
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'code'"
                                [label]="'user.label_code'"
                                [placeholder]="'user.label_code'"
                                [value]="f.code"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="
                                    formGroup.get('account').get('profile')
                                "
                                [name]="'lastname'"
                                [label]="'user.label_lastname'"
                                [placeholder]="'user.label_lastname'"
                                [value]="
                                    formGroup
                                        .get('account')
                                        .get('profile')
                                        .get('lastname')
                                "
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="
                                    formGroup.get('account').get('profile')
                                "
                                [name]="'firstname'"
                                [label]="'user.label_firstname'"
                                [placeholder]="'user.label_firstname'"
                                [value]="
                                    formGroup
                                        .get('account')
                                        .get('profile')
                                        .get('firstname')
                                "
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-number-form
                                [formGroup]="
                                    formGroup.get('account').get('contact')
                                "
                                [name]="'mainPhone'"
                                [label]="'user.label_phone'"
                                [placeholder]="'user.label_phone'"
                                [value]="
                                    formGroup
                                        .get('account')
                                        .get('contact')
                                        .get('mainPhone')
                                "
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [maxlength]="10"
                            >
                            </app-number-form>
                            <app-select-form
                                [formGroup]="formGroup"
                                [name]="'role'"
                                [label]="'user.label_role'"
                                [placeholder]="'user.label_select'"
                                [values]="allRoles"
                                [value]="f.role"
                                [displayField]="'name'"
                                [dataKey]="'code'"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                (onChange)="onChangeRole($event)"
                            >
                            </app-select-form>
                            <app-dictionary-select
                                [typeCode]="'SERVICE_USER'"
                                [formGroup]="formGroup"
                                [name]="'service'"
                                [value]="f.service"
                                [label]="'user.label_service'"
                                [placeholder]="'user.label_select'"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-dictionary-select>
                           
                           
                            <app-input-form
                                [formGroup]="
                                    formGroup.get('account').get('contact')
                                "
                                [name]="'mainAddress'"
                                [label]="'user.label_address'"
                                [placeholder]="'user.label_address'"
                                [value]="
                                    formGroup
                                        .get('account')
                                        .get('contact')
                                        .get('mainAddress')
                                "
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            
                                <app-input-form
                                    [formGroup]="formGroup.get('account')"
                                    [name]="'email'"
                                    [type]="'email'"
                                    [autocomplete]="false"
                                    [label]="'user.label_email'"
                                    [placeholder]="'user.label_email'"
                                    [value]="
                                        formGroup.get('account').get('email')
                                    "
                                    [isSubmitted]="isSubmitted"
                                    [isDisabled]="!isEdit"
                                >
                                </app-input-form>
                                <app-input-form
                                    [formGroup]="formGroup.get('account')"
                                    [name]="'username'"
                                    [autocomplete]="false"
                                    [label]="'user.label_username'"
                                    [placeholder]="'user.label_username'"
                                    [value]="
                                        formGroup.get('account').get('username')
                                    "
                                    [isSubmitted]="isSubmitted"
                                    [isDisabled]="!isEdit"
                                >
                                </app-input-form>
                                <app-input-form
                                    [formGroup]="formGroup.get('account')"
                                    [type]="'password'"
                                    [name]="'password'"
                                    [autocomplete]="false"
                                    [label]="'user.label_password'"
                                    [placeholder]="'user.label_password'"
                                    [value]="
                                        formGroup.get('account').get('password')
                                    "
                                    [isSubmitted]="isSubmitted"
                                    [isDisabled]="!isEdit"
                                >
                                </app-input-form>
                            
                           
                                <app-select-form
                                    [formGroup]="formGroup"
                                    [name]="'chief'"
                                    [label]="'user.label_superior'"
                                    [placeholder]="
                                       'user.label_select'
                                    "
                                    [values]="listChiefs"
                                    [value]="f.chief"
                                    [displayField]="'account.profile.fullname'"
                                    [dataKey]="''"
                                    [isSubmitted]="isSubmitted"
                                    [isDisabled]="!isEdit"
                                >
                                </app-select-form>
                            
                        </p-tabPanel>
                        <p-tabPanel header="Childs">
                            <p-toolbar>
                                <div class="p-toolbar-group-left">
                                    <h4>
                                        <i class="fa fa-align-justify pr-2"></i>
                                        <strong>Liste des childs</strong>
                                    </h4>
                                </div>
                                <div class="p-toolbar-group-right">
                                    <app-menu-crud
                                        [types]="'a,e,d'"
                                        [isAddDisabled]="!isEdit"
                                        [isEditDisabled]="!canDeleteCopyChild"
                                        [isDeleteDisabled]="!canDeleteCopyChild"
                                        (addClick)="onAddChildClick($event)"
                                        (editClick)="onEditChildClick($event)"
                                        (deleteClick)="
                                            onDeleteChildClick($event)
                                        "
                                    >
                                    </app-menu-crud>
                                </div>
                            </p-toolbar>
                            <div class="main-child-body">
                                <app-data-table
                                    [stateKey]="'father-master-detail-taskss'"
                                    [columns]="columnsChild"
                                    [value]="selectedData.taskss"
                                    [isDisabled]="!isEdit"
                                    [selectedData]="selectedChildData"
                                    [export]="false"
                                    (onSelectRow)="onSelectChildRow($event)"
                                    (onDblclickRow)="onDblclickChildRow($event)"
                                    (onButtonClickEvent)="
                                        onButtonClickEvent($event)
                                    "
                                    (onSortChanged)="onSortChanged($event)"
                                ></app-data-table>
                            </div>
                        </p-tabPanel>

                     <p-tabPanel header="{{'user.panel_ability' |translate }}">
                            <p-toolbar>
                                <div class="p-toolbar-group-left">
                                    <h4>
                                        <i class="fa fa-align-justify pr-2"></i>
                                        <strong>{{"user.label_abilities" | translate}}</strong>
                                    </h4>
                                </div>
                                <div class="p-toolbar-group-right"></div>
                            </p-toolbar>
                            <app-selectable-data-table
                                [columns]="columnsAbilities"
                                [value]="abilities"
                                [(selectedData)]="selectedData.abilities"
                                (onSelectRow)="onSelectChildRow($event)"
                            (onDblclickRow)="onDblclickChildRow($event)"
                                [isDisabled]="!isEdit"
                            >
                            </app-selectable-data-table>


                            

                        </p-tabPanel> 
                    </p-tabView>
                </form>
            </div>
        </p-card>
    </div>
</div>
