<div class="grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <app-menu-bookmark></app-menu-bookmark>
                        <h4>
                            <strong>Liste des datasources</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        ></app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <app-data-table
                    [columns]="columns"
                    [value]="datas"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit pr-2"></i>
                            <strong>Détails datasource</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [types]="typesMenuCrud"
                            [isEditDisabled]="isEdit"
                            [isDeleteDisabled]="!canDeleteCopy"
                            [isCopyDisabled]="!canDeleteCopy"
                            (editClick)="onEditClick()"
                            (deleteClick)="onDeleteClick()"
                            (copyClick)="onCopyClick()"
                            (closeClick)="onFormCloseClick()"
                            (maximizeClick)="onFormMaximizeClick()"
                        >
                        </app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <form [formGroup]="formGroup">
                    <p-tabView [(activeIndex)]="activeIndex">
                        <p-tabPanel header="Datasource">
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'code'"
                                [label]="'Code'"
                                [value]="f.code"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-select-form
                                [formGroup]="formGroup"
                                [name]="'type'"
                                [label]="'Type'"
                                [placeholder]="'Indéfini'"
                                [value]="f.type"
                                [values]="databaseTypes"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-select-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'host'"
                                [label]="'Host'"
                                [value]="f.host"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-number-form
                                [formGroup]="formGroup"
                                [name]="'port'"
                                [label]="'Port'"
                                [value]="f.port"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                                [maxlength]="10"
                            >
                            </app-number-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'databaseName'"
                                [label]="'Database'"
                                [value]="f.databaseName"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'databaseUser'"
                                [label]="'User'"
                                [value]="f.databaseUser"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'databasePassword'"
                                [label]="'Password'"
                                [value]="f.databasePassword"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <button
                                pButton
                                pRipple
                                iconPos="right"
                                label="Test connection"
                                (click)="testConnection()"
                                [disabled]="connectionOK"
                            ></button>
                        </p-tabPanel>

                        <p-tabPanel
                            *ngIf="connectionOK"
                            header="Tables - Colonnes"
                        >
                            <div class="grid">
                                <div class="col-6">
                                    <p-listbox
                                        [options]="tables"
                                        formControlName="tables"
                                        (onClick)="onTableClick($event)"
                                        [filter]="true"
                                        [checkbox]="true"
                                        [showToggleAll]="false"
                                        optionLabel="name"
                                        [metaKeySelection]="false"
                                        [multiple]="true"
                                        [dataKey]="'code'"
                                        styleClass="main-listbox"
                                    >
                                        <ng-template pTemplate="header">
                                            Sélectionner des tables
                                        </ng-template>
                                        <ng-template let-table pTemplate="item">
                                            <div>{{ table.name }}</div>
                                        </ng-template>
                                    </p-listbox>
                                </div>
                                <div class="col-6">
                                    <div
                                        *ngFor="let groupColumn of groupColumns"
                                        class="mb-2"
                                    >
                                        <p-listbox
                                            [options]="groupColumn.items"
                                            formControlName="columns"
                                            (onClick)="onColumnClick($event)"
                                            [checkbox]="true"
                                            [showToggleAll]="false"
                                            [metaKeySelection]="false"
                                            [multiple]="true"
                                            [dataKey]="'code'"
                                        >
                                            <ng-template pTemplate="header">
                                                <strong>{{
                                                    groupColumn.table.name
                                                }}</strong>
                                            </ng-template>
                                            <ng-template
                                                let-column
                                                pTemplate="item"
                                            >
                                                <div
                                                    class="p-d-flex p-ai-center"
                                                >
                                                    <span
                                                        >{{ column.name }} -
                                                        {{
                                                            column.typeString
                                                        }}</span
                                                    >
                                                </div>
                                            </ng-template>
                                        </p-listbox>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </form>
            </div>
        </p-card>
    </div>
</div>
