<div class="exception-body flex align-items-center justify-content-center">

    <div class="exception-panel pt-0 p-5 flex flex-column justify-content-center">
        <img src="assets/layout/images/pages/503.png" alt="503-unavailableservice" class="hidden md:inline-flex border-round" />
        <h4 class="text-center font-bold">Under Maintenace</h4>
        <span class="mb-4 line-height-3">Please try again later. Go back to <span
                class="font-bold">application.</span></span>

        <button type="button" pButton label="Go to Application" [routerLink]="['/login']"></button>
    </div>
</div>
