<div class="exception-body flex align-items-center justify-content-center">
    
    <div class="exception-panel pt-0 p-5 flex flex-column justify-content-center">
        <img src="assets/layout/images/pages/404.png" alt="404-notFound" class="hidden md:inline-flex border-round" />
        <h4 class="text-center font-bold">NOT FOUND</h4>
        <span class="mb-4 line-height-3">Looks like you are lost. Go back to <span
                class="font-bold">application.</span></span>

        <button type="button" pButton label="Go to Application" [routerLink]="['/']"></button>
    </div>
</div>
