@media (min-width: 640px) {
    .login-body .login-panel {
        width: 300px;
    }
}

.logo-container {
    width: 250px;
}

.logo-container2 {
    width: 100px;
    img {
        width: 100%;
    }
}
