<div class="form-popup">
    <form [formGroup]="formGroup">
        <p-tabView>
            <p-tabPanel header="{{ 'std.header_values' | translate }}">
                <app-input-form
                    [formGroup]="formGroup"
                    [name]="'code'"
                    [label]="'std.label_code'"
                    [value]="f.code"
                    [isSubmitted]="isSubmitted"
                >
                </app-input-form>
                <app-input-form
                    [formGroup]="formGroup"
                    [name]="'label'"
                    [label]="'std.label_label'"
                    [value]="f.label"
                    [isSubmitted]="isSubmitted"
                >
                </app-input-form>
                <app-input-textarea-form
                    [formGroup]="formGroup"
                    [name]="'description'"
                    [label]="'std.label_description'"
                    [rows]="3"
                    [isSubmitted]="isSubmitted"
                >
                    {{ f.description }}
                </app-input-textarea-form>
            </p-tabPanel>
            <p-tabPanel
                *ngIf="dictionaryType.otherValues"
                header="Autres valeurs"
            >
                <div class="p-fluid">
                    <app-input-form
                        *ngIf="dictionaryType.valString1Label"
                        [formGroup]="formGroup"
                        [name]="'valString1'"
                        [label]="dictionaryType.valString1Label"
                        [value]="f.valString1"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-input-form>
                    <app-input-form
                        *ngIf="dictionaryType.valString2Label"
                        [formGroup]="formGroup"
                        [name]="'valString2'"
                        [label]="dictionaryType.valString2Label"
                        [value]="f.valString2"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-input-form>
                    <app-input-form
                        *ngIf="dictionaryType.valString3Label"
                        [formGroup]="formGroup"
                        [name]="'valString3'"
                        [label]="dictionaryType.valString3Label"
                        [value]="f.valString3"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-input-form>

                    <app-number-form
                        *ngIf="dictionaryType.valInt1Label"
                        [formGroup]="formGroup"
                        [name]="'valInt1'"
                        [label]="dictionaryType.valInt1Label"
                        [value]="f.valInt1"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-number-form>
                    <app-number-form
                        *ngIf="dictionaryType.valInt2Label"
                        [formGroup]="formGroup"
                        [name]="'valInt2'"
                        [label]="dictionaryType.valInt2Label"
                        [value]="f.valInt2"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-number-form>
                    <app-number-form
                        *ngIf="dictionaryType.valInt3Label"
                        [formGroup]="formGroup"
                        [name]="'valInt3'"
                        [label]="dictionaryType.valInt3Label"
                        [value]="f.valInt3"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-number-form>
                    <app-switch-form
                        *ngIf="dictionaryType.valBool1Label"
                        [formGroup]="formGroup"
                        [name]="'valBool1'"
                        [label]="dictionaryType.valBool1Label"
                        [value]="f.valBool1"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-switch-form>
                    <app-switch-form
                        *ngIf="dictionaryType.valBool2Label"
                        [formGroup]="formGroup"
                        [name]="'valBool2'"
                        [label]="dictionaryType.valBool2Label"
                        [value]="f.valBool2"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-switch-form>
                    <app-switch-form
                        *ngIf="dictionaryType.valBool3Label"
                        [formGroup]="formGroup"
                        [name]="'valBool3'"
                        [label]="dictionaryType.valBool3Label"
                        [value]="f.valBool3"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-switch-form>
                    <app-date-form
                        *ngIf="dictionaryType.valDate1Label"
                        [formGroup]="formGroup"
                        [name]="'valDate1'"
                        [label]="dictionaryType.valDate1Label"
                        [value]="f.valDate1"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-date-form>
                    <app-date-form
                        *ngIf="dictionaryType.valDate2Label"
                        [formGroup]="formGroup"
                        [name]="'valDate2'"
                        [label]="dictionaryType.valDate2Label"
                        [value]="f.valDate2"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-date-form>
                    <app-date-form
                        *ngIf="dictionaryType.valDate3Label"
                        [formGroup]="formGroup"
                        [name]="'valDate3'"
                        [label]="dictionaryType.valDate3Label"
                        [value]="f.valDate3"
                        [isSubmitted]="isSubmitted"
                    >
                    </app-date-form>
                </div>
            </p-tabPanel>
        </p-tabView>
    </form>
    <p-toolbar>
        <div class="p-toolbar-group-left"></div>
        <div class="p-toolbar-group-right">
            <p-button
                [label]="closeBtnLabel"
                (click)="onCancel()"
                styleClass="p-button-text"
            ></p-button>
            <p-button
                [label]="saveBtnLabel"
                (click)="onSubmit()"
                styleClass="p-button-text"
            >
            </p-button>
        </div>
    </p-toolbar>
</div>
