<div class="layout-topbar">
    <div class="layout-topbar-left">
        <a class="app-name" [href]="applicationUrlRedirect">
            <!--
            <img
                alt="main logo"
                [src]="
                    'assets/layout/images/logo-' +
                    (app.layoutColor === 'white' ? 'dark' : 'white') +
                    '.png'
                "
                class="app-logo"
            />
			-->
            <span>{{ application.code }}</span>
        </a>

        <a
            href="#"
            class="menu-button"
            (click)="appMain.onMenuButtonClick($event)"
        >
            <div class="menu-button-icon"></div>
        </a>

        <ul class="layout-topbar-main-menu">
            <li
                app-topmenu
                *ngFor="let item of getBookmarkMenus(); let i = index"
                [item]="item"
                [index]="i"
                [root]="true"
                class="layout-topbar-menu"
                (click)="appMain.onTopbarMenuClick($event)"
            ></li>
            <li *ngFor="let item of getTopMenus(); let i = index">
                <a href="#" (click)="appMain.onTopbarMenuClick($event, item)">{{
                    item.label | translate
                }}</a>
            </li>
        </ul>
    </div>
    <div class="layout-topbar-right">
        <ul class="layout-topbar-actions">
            <!-- 
            <li
                #searchItem
                class="search-item"
                [ngClass]="{ 'active-topmenuitem': appMain.search }"
            >
                <a
                    href="#"
                    tabindex="0"
                    (click)="
                        appMain.onTopbarItemClick($event, searchItem);
                        searchFocus($event)
                    "
                >
                    <i class="pi pi-search"></i>
                </a>

                <div class="search-input-wrapper">
                    <span class="p-input-icon-right">
                        <input
                            #input1
                            type="text"
                            pInputText
                            placeholder="Type your keywords"
                            (click)="appMain.searchClick = true"
                            autofocus
                        />
                        <i class="pi pi-search"></i>
                    </span>
                </div>

                <ul class="fadeInDown">
                    <div
                        class="search-input-wrapper p-fluid"
                        style="width: 100%"
                    >
                        <span class="p-input-icon-right">
                            <input
                                #input2
                                type="text"
                                pInputText
                                placeholder="Type your keywords"
                                (click)="appMain.searchClick = true"
                                autofocus
                            />
                            <i class="pi pi-search"></i>
                        </span>
                    </div>
                </ul>
            </li>
            -->
            <li class="topbar-icon-item">
                <app-notifications
                    [account]="account"
                    style="padding-top: 5px"
                ></app-notifications>
            </li>
            <li #searchItem class="topbar-icon-item search-item">
                <a id="fullscreen-btn" (click)="toggleFullscreen()">
                    <i class="fa fa-expand fa-2x" *ngIf="!isFullscreen"></i>
                    <i class="fa fa-compress fa-2x" *ngIf="isFullscreen"></i>
                </a>
            </li>
            <li
                #profile
                class="profile-item"
                [ngClass]="{
                    'active-topmenuitem fadeInDown':
                        appMain.activeTopbarItem === profile
                }"
            >
                <div
                    class="profile-container"
                    (click)="appMain.onTopbarItemClick($event, profile)"
                >
                    <a href="#">{{ accountName }}</a>
                    <div class="name-container">
                        <span class="name">{{ accountFullName }}</span>
                        <span class="job"
                            >{{ accountRole }} {{ getLang() }}</span
                        >
                    </div>
                    <i class="pi pi-angle-down"></i>
                </div>
                <ul class="profile-menu fadeInDown">
                    <li>
                        <a href="#" (click)="goProfile($event)">
                            <i class="fa-solid fa-user"></i>
                            <span>{{ "label.profile" | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" (click)="goConfig($event)">
                            <i class="fa-solid fa-sliders"></i>
                            <span>{{ "label.setup" | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" (click)="doLogout($event)">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <span>{{ "label.logout" | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
