<div class="form-popup">
    <form [formGroup]="formGroup">
        <app-input-form
            [formGroup]="formGroup"
            [name]="'code'"
            [label]="'Code'"
            [value]="f.code"
            [isSubmitted]="isSubmitted"
            [isDisabled]="disableUpdate"
        >
        </app-input-form>
        <app-select-form
            [formGroup]="formGroup"
            [name]="'type'"
            [label]="'Type champ'"
            [placeholder]="'Indéfini'"
            [values]="listTypes"
            [value]="f.type"
            [displayField]="'label'"
            [dataKey]="''"
            [returnValue]="'code'"
            [isSubmitted]="isSubmitted"
            [isDisabled]="disableUpdate"
        >
        </app-select-form>
        <app-input-textarea-form
            [formGroup]="formGroup"
            [name]="'description'"
            [label]="'Description'"
            [rows]="3"
            [isSubmitted]="isSubmitted"
        >
            {{ f.description }}
        </app-input-textarea-form>
        <app-number-form
            [formGroup]="formGroup"
            [name]="'order'"
            [label]="'Ordre'"
            [value]="f.ordre"
            [isSubmitted]="isSubmitted"
        >
        </app-number-form>
        <app-switch-form
            [formGroup]="formGroup"
            [name]="'obligatory'"
            [label]="'Obligatoire'"
            [value]="f.obligatory"
            [isSubmitted]="isSubmitted"
        ></app-switch-form>

        <app-number-form
            [formGroup]="formGroup"
            [name]="'length'"
            [label]="'Longueur'"
            [value]="f.length"
            [isSubmitted]="isSubmitted"
        >
        </app-number-form>
        <app-input-form
            [formGroup]="formGroup"
            [name]="'formatting'"
            [label]="'Type format'"
            [value]="f.formatting"
            [isSubmitted]="isSubmitted"
        >
        </app-input-form>
        <app-input-form
            [formGroup]="formGroup"
            [name]="'format'"
            [label]="'Format'"
            [value]="f.format"
            [isSubmitted]="isSubmitted"
        >
        </app-input-form>
        <app-switch-form
            [formGroup]="formGroup"
            [name]="'display'"
            [label]="'Affiché'"
            [value]="f.display"
            [isSubmitted]="isSubmitted"
        ></app-switch-form>
    </form>
    <p-toolbar>
        <div class="p-toolbar-group-left"></div>
        <div class="p-toolbar-group-right">
            <p-button
                [label]="closeBtnLabel"
                (click)="onCancel()"
                styleClass="p-button-text"
            ></p-button>
            <p-button
                [label]="saveBtnLabel"
                (click)="onSubmit()"
                styleClass="p-button-text"
            >
            </p-button>
        </div>
    </p-toolbar>
</div>
