<div class="grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <app-menu-bookmark></app-menu-bookmark>
                        <h4>
                            <strong>{{
                                "std.master_menus_list" | translate
                            }}</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            [displayExport]="true"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        ></app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <app-data-table
                    [stateKey]="'menu-master-detail'"
                    [export]="true"
                    [columns]="columns"
                    [value]="datas"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                    (onSortChanged)="onSortChanged($event)"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit pr-2"></i>
                            <strong>Détails menu</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [types]="typesMenuCrud"
                            [isEditDisabled]="isEdit"
                            [isDeleteDisabled]="!canDeleteCopy"
                            [isCopyDisabled]="!canDeleteCopy"
                            (editClick)="onEditClick()"
                            (deleteClick)="onDeleteClick()"
                            (copyClick)="onCopyClick()"
                            (closeClick)="onFormCloseClick()"
                            (maximizeClick)="onFormMaximizeClick()"
                        >
                        </app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <form [formGroup]="formGroup">
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'code'"
                        [label]="'Code'"
                        [value]="f.code"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-input-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'parentCode'"
                        [label]="'Menu parent'"
                        [value]="f.parent_code"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-input-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'label'"
                        [label]="'Libellé'"
                        [value]="f.label"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    ></app-input-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'url'"
                        [label]="'Url'"
                        [help]="'commencez par /, pas finissez par '"
                        [value]="f.url"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    ></app-input-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'icon'"
                        [label]="'Icon'"
                        [value]="f.icon"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    ></app-input-form>
                    <app-switch-form
                        [formGroup]="formGroup"
                        [name]="'display'"
                        [label]="'Display'"
                        [value]="f.display"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    ></app-switch-form>
                    <app-switch-form
                        [formGroup]="formGroup"
                        [name]="'topMenu'"
                        [label]="'Top Menu'"
                        [value]="f.topMenu"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    ></app-switch-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'modules'"
                        [label]="'Modules'"
                        [value]="f.modules"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="true"
                    ></app-input-form>
                </form>
            </div>
        </p-card>
    </div>
</div>
