<div class="grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <app-menu-bookmark></app-menu-bookmark>
                        <h4>
                            <strong>{{"user.operator_shift_master" |translate}}</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        ></app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <app-data-table
                    [columns]="columns"
                    [value]="datas"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                    [rows]="appConfig.rows"
                    [rowsPerPageOptions]="appConfig.rowsPerPageOptions"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
           
            <div class="main-body p-fluid">
                <form [formGroup]="formGroup" autocomplete="off">
                    <p-tabView>
                        <p-tabPanel header="{{'user.panel_operator'| translate}}">
                           
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'name'"
                                [label]="'name'"
                                [value]="f.name"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'description'"
                                [label]="'description'"
                                [value]="f.description"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                        </p-tabPanel>
                        <!-- <p-tabPanel header="{{'user.panel_operator' | translate}}">
                            <p-toolbar>
                                <div class="p-toolbar-group-left">
                                    <h4>
                                        <i class="fa fa-align-justify pr-2"></i>
                                        <strong>{{"user.label_operator_list" |translate}}</strong>
                                    </h4>
                                </div>
                                <div class="p-toolbar-group-right"></div>
                            </p-toolbar>
                            <app-selectable-data-table
                                [columns]="columnsOperatorShift"
                                [value]="users"
                                [(selectedData)]="selectedData.users"
                                (onSelectRow)="onSelectChildRow($event)"
                                (onDblclickRow)="onDblclickChildRow($event)"
                                [isDisabled]="!isEdit"
                            ></app-selectable-data-table>
                        </p-tabPanel> -->
                    </p-tabView>
                </form>
            </div>
        </p-card>
    </div>
</div>
