<form [formGroup]="formGroup">
    <div>
        <div
            class="grid"
            *ngFor="let input of getInputs.controls; let i = index"
        >
            <div class="col-6">
                <app-input-form
                    *ngIf="isTypeText(input.value)"
                    [formGroup]="input"
                    [name]="'value'"
                    [label]="input.value.label"
                    [value]="input.value"
                    [isDisabled]="isDisabled"
                >
                </app-input-form>
                <app-input-textarea-form
                    *ngIf="isTypeTextarea(input.value)"
                    [formGroup]="input"
                    [name]="'value'"
                    [label]="input.value.label"
                    [value]="input.value"
                    [rows]="4"
                    [isSubmitted]="isSubmitted"
                    [isDisabled]="isDisabled"
                >
                </app-input-textarea-form>
                <app-number-form
                    *ngIf="isTypeNumber(input.value)"
                    [formGroup]="input"
                    [name]="'value'"
                    [label]="input.value.label"
                    [value]="input.value"
                    [isSubmitted]="isSubmitted"
                    [isDisabled]="isDisabled"
                >
                </app-number-form>
                <app-date-form
                    *ngIf="isTypeDate(input.value)"
                    [formGroup]="input"
                    [name]="'value'"
                    [label]="input.value.label"
                    [value]="input.value"
                    [isSubmitted]="isSubmitted"
                    [isDisabled]="isDisabled"
                >
                </app-date-form>
            </div>
        </div>
    </div>
</form>
