<div class="grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <app-menu-bookmark></app-menu-bookmark>
                        <h4>
                            <strong>
                                {{
                                    "std.master_scheduled_tasks_list"
                                        | translate
                                }}
                            </strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            [displayAdd]="false"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        >
                        </app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <app-data-table
                    [stateKey]="'job-master-detail'"
                    [columns]="columns"
                    [value]="datas"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit pr-2"></i>
                            <strong
                                >{{ "std.master_task" | translate }}
                                {{ f.name.value }}</strong
                            >
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [types]="'e,c'"
                            [isEditDisabled]="isEdit"
                            [isCopyDisabled]="!canDeleteCopy"
                            (editClick)="onEditClick()"
                            (deleteClick)="onDeleteClick()"
                            (copyClick)="onCopyClick()"
                            (closeClick)="onFormCloseClick()"
                            (maximizeClick)="onFormMaximizeClick()"
                        >
                        </app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="main-body p-fluid">
                <form [formGroup]="formGroup">
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'name'"
                        [label]="'std.label_name'"
                        [value]="f.name"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="true"
                    >
                    </app-input-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'groupName'"
                        [label]="'std.label_band'"
                        [value]="f.groupName"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="true"
                    >
                    </app-input-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'className'"
                        [label]="'std.label_class'"
                        [value]="f.className"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="true"
                    >
                    </app-input-form>
                    <app-switch-form
                        [formGroup]="formGroup"
                        [name]="'cron'"
                        [label]="'std.label_cron'"
                        [value]="f.cron"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-switch-form>
                    <app-input-form
                        *ngIf="f.cron.value"
                        [formGroup]="formGroup"
                        [name]="'cronExpression'"
                        [label]="'std.label_expression_cron'"
                        [value]="f.cronExpression"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-input-form>
                    <app-input-form
                        *ngIf="!f.cron.value"
                        [formGroup]="formGroup"
                        [type]="'number'"
                        [name]="'repeatTime'"
                        [label]="'std.label_repeat'"
                        [value]="f.repeatTime"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-input-form>
                    <app-switch-form
                        [formGroup]="formGroup"
                        [name]="'status'"
                        [label]="'std.label_statut'"
                        [value]="f.status"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-switch-form>
                </form>
            </div>
        </p-card>
    </div>
</div>
